body{
    background-color: grey;
}

#table{
  table-layout: fixed;
}

#MainBox{
  display: flex;
  flex-direction: column;
  align-items: center;

}

.blankStyle{

}

label{
  margin: 0 10px;
}

p, h5{
  margin: 4px;
  padding: 0px;
}

.sizeInputForm{
  display: flex;
  flex-direction: row;
}

#gridBox{
  background-color: white;
  border: 20px solid #686868;
  border-radius: 10px;

}

.row > * {
  height: 50px;
}

#red{
  background-color: red;
}

#green{
  background-color: green;
}

#blue{
  background-color: blue;
}

#currentImage {
  object-fit: fill;
}

#editBox {
  background-color: grey;
}


#palette{
  background-color: white;
  height: 300px;
  width: 300px;
}

/*  SLIDERS CONTAINER */

/* .slidersContainer {
  display: inline-flex;
} */

/* @BEGIN@ WIDTH SLIDER CSS  */

.widthSlider_Container {
  width: 50%;
  /* Width of the outside container */
}

/* The slider itself */

.widthSlider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 15px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */

.widthSlider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.widthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.widthSlider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/* @END@ WIDTH SLIDER CSS  */

/* @BEGIN@ HEIGHT SLIDER CSS  */


/* The slider itself */

.heightSlider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 100%;
  /* Full-width */
  height: 15px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */

.heightSlider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.heightSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.heightSlider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #4CAF50;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

/* @END@ HEIGHT SLIDER CSS  */
